@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

body {
  background-color: #000;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 5rem;
  justify-content: center;
}

.square {
  margin-top: 150px;
  width: 250px;
  height: 250px;
  background-color: #fff;
  border: 5px solid #fff;
  transition: 0.25s;
}

button {
  font-weight: 600;
  padding: 15px 20px;
  width: 200px;
  background-color: transparent;
  border-radius: 150px;
  border: 1px solid #fff;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  color: #000;
  background-color: #fff;
  transform: scale(1.1);
}
